/* #oh-hive-input {
    border: none;
    font-weight: 500;
    font-size: 1.5rem;
    color: #959595;
    text-transform: none;
    letter-spacing: 0;
}

#oh-hive-input:focus, #oh-hive-input:active {
    border: none !important;
} */